div{
    color: aqua;
    padding-left:30%;
    padding-right: 30%;
}
body{
    background-color: dimgrey;
}
body{
    background-image: url(kimestu_no_yaiba.jpg);
    background-attachment:fixed;
    
}
    
